<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step8" >
        <div class="wrapper">
            <div class="successfuls8"><div><i class="icon-check"></i></div></div>
            <h1>Configuración de {{datasteps.nivel_upd.nombre}} Completa!</h1>
            <p>¡Realizaste un buen trabajo!
                <span *ngIf="!si_end"> Ahora debemos empezar con la configuracion de {{nivel_next.nombre}}.</span></p>
            <div class="fcont_btns">
                <a [routerLink]="['/setupinitial/step7']" class="sbtn sbtn_prev" >Anterior</a>
                <button class="sbtn sbtn_next" (click)="onSubmit()" *ngIf="!si_end" >Siguiente</button>
                <button class="sbtn sbtn_next" (click)="onSubmit()" *ngIf="si_end" >Finalizar</button>
            </div>
        </div>
    </div>
</div>