<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step6" >
        <div class="wrapper">
            <h1>Asignar Curso al grado</h1>
            <p>Cada grado tienen distintos e iguales cursos, ingresa así sea repetitivo con otros grados.</p>
            <div class="table">
                <div class="th">
                    <div class="td">Grado</div>
                    <div class="td">Asignatura</div>
                    <div class="td">Opciones</div>
                </div>
                <div class="tr">
                    <div class="td"> 
                        <select [(ngModel)]="dataAdd.grado" name="grado" #grado="ngModel" required >
                            <option *ngFor="let row of grados" value="{{row.id}}-{{row.nombre}}">{{row.nombre}}</option>
                        </select>
                    </div>
                    <div class="td"> 
                        <select [(ngModel)]="dataAdd.curso" name="curso" #curso="ngModel" required >
                            <option *ngFor="let row of cursos" value="{{row.id}}-{{row.nombre}}">{{row.nombre}}</option>
                        </select>
                    </div>
                    <div class="td">
                        <a (click)="rowAdd()" class="btn btn_add">Agregar</a> 
                    </div>
                </div>
                <div class="tr" *ngFor="let row of gradoscursos; let i=index" >
                    <div class="td"> 
                        <span>{{row.grado_name}}</span>
                    </div>
                    <div class="td"><span>{{row.curso_name}}</span></div>
                    <div class="td">
                        <a (click)="rowRemove(row.id,i)" title="Eliminar"><i class="icon-close"></i></a> 
                    </div>
                </div>
            </div>
            <div class="fcont_btns">
                <a [routerLink]="['/setupinitial/step5']" class="sbtn sbtn_prev" >Anterior</a>
                <button class="sbtn sbtn_next" (click)="onSubmit()">Siguiente</button>
            </div>
        </div>
    </div>
</div>