<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>


    <div class="cont2 step4" >
        <div class="wrapper">
            <h1>Asignar Secciones para {{datasteps.nivel_upd.nombre}}</h1>
            <p>Crea las secciones/aulas . </p>
            
            <div class="table">
                <div class="th">
                    <div class="td">Grado</div>
                    <div class="td">Sección</div>
                    <div class="td">Turno</div>
                    <div class="td">Opciones</div>
                </div>
                
                <div class="tr">
                    <div class="td"> 
                        <select [(ngModel)]="dataAdd.grado" name="grado" #grado="ngModel" required >
                            <option *ngFor="let row of grados" value="{{row.id}}-{{row.nombre}}">{{row.nombre}}</option>
                        </select>
                    </div>
                    <div class="td"><input type="text" [(ngModel)]="dataAdd.seccion" name="seccion" #seccion="ngModel" required /></div>
                    <div class="td"> 
                        <select [(ngModel)]="dataAdd.turno" name="turno" #turno="ngModel" required >
                            <option *ngFor="let row of datasteps.data_nivel.turnos" value="{{row.id}}-{{row.nombre}}">{{row.nombre}}</option>
                        </select>
                    </div>
                    <div class="td">
                        <a  class="btn btn_add" (click)="rowAdd()" >Agregar</a> 
                    </div>
                </div>
                <div class="tr" *ngFor="let row of secciones; let i=index" >
                    <div class="td"> 
                        <span>{{row.grado_name}}</span>
                    </div>
                    <div class="td"><span>{{row.nombre}}</span></div>
                    <div class="td"><span>{{row.turno_name}}</span></div>
                    <div class="td">
                        <a title="Eliminar" (click)="rowRemove(row.id,i)"><i class="icon-close"></i></a> 
                    </div>
                </div>
            </div>
            <div class="fcont_btns">
                <a [routerLink]="['/setupinitial/step3']" class="sbtn sbtn_prev" >Anterior</a>
                <button class="sbtn sbtn_next" (click)="onSubmit()">Siguiente</button>
            </div>
        </div>
    </div>
</div>