<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step5" >
        <div class="wrapper">
            <h1>Registrar Cursos en General</h1>
            <p>Ingresa todos los cursos queda puedan existir en la institución sin importar el grado.</p>
            <div class="table">
                <div class="th">
                    <div class="td">Curso</div>
                    <div class="td">Opciones</div>
                </div>
                <div class="tr">
                    <div class="td"><input type="text" [(ngModel)]="dataAdd.nombre" name="nombre" #nombre="ngModel" required /></div>
                    <div class="td">
                        <a (click)="rowAdd()" class="btn btn_add">Agregar</a> 
                    </div>
                </div>
                <div class="tr" *ngFor="let row of cursos; let i=index" >
                    <div class="td"><span>{{row.nombre}}</span></div>
                    <div class="td">
                        <a title="Eliminar" (click)="rowRemove(row.id,i)" ><i class="icon-close"></i></a> 
                    </div>
                </div>
            </div>
            <div class="fcont_btns">
                <a [routerLink]="['/setupinitial/step4']" class="sbtn sbtn_prev" >Anterior</a>
                <button class="sbtn sbtn_next" (click)=onSubmit()>Siguiente</button>
            </div>
        </div>
    </div>
</div>