<div class="content steps">
    <app-navigator-setupinitial></app-navigator-setupinitial>
    <div class="cont2 step3" >
        <div class="wrapper">
            <h1>Empecemos con nivel {{datasteps.nivel_upd.nombre}}</h1>
            <p>Seleccion que turnos atenderemos.</p>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <label class="checkeable" *ngFor="let row of form.turnos; let i = index">
                    <input type="checkbox" [(ngModel)]="row.checked" name="status{{row.id}}"/>
                    <div>
                        <img src="assets/img/status{{row.id}}.png"/>
                        <span class="tag">{{row.nombre}} </span>
                        <span class="checked"><i class="icon-check"></i></span>
                    </div>
                </label>
                
                <div class="continput"> 
                    <div><h4>¿Cuántas horas academicas a la semana tiene cada grado?</h4></div>
                    <div><input type="number" [(ngModel)]="form.horas_academicas"  name="horas_academicas" required /></div>
                    <div *ngIf="f.submitted && form.horas_academicas.invalid" class="invalid-feedback">
                        <div *ngIf="form.horas_academicas.errors.required">Campo es requerido</div>
                    </div>
                </div>
                <div class="continput"> 
                    <div><h4>¿En cuántas ciclos se divide el año escolar?</h4></div>
                    <div> 
                        <select [(ngModel)]="form.ciclos"  name="ciclos">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                </div>
                <div class="fcont_btns">
                    <a [routerLink]="['/setupinitial/step2']" class="sbtn sbtn_prev" >Anterior</a>
                    <button class="sbtn sbtn_next" >Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</div>