.fcont_btns[_ngcontent-c1] a.sbtn[_ngcontent-c1]{
    text-decoration: inherit;
    padding: 12px 40px;
}
select.form-select{
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}
/*.oksetting{
    box-shadow: 0 0 1px #65d074;
}*/
.oksetting{
    font-size: 11px;
    color: #2178FF;
    font-weight: 100;
    text-transform: uppercase;
}