/*CONFIG GENERAL*/
@import url('hall.css');
/* END CONFIG GENERAL*/
.header{
	padding: 4px 20px;
	display:;
}
.cont_left{
	float:left;
	display: contents;
}
.cont_left .i_menup{
    max-width: 30px;
    width: 100%;
    display: inline-block;
    display: none;
    box-sizing: content-box;
    cursor: pointer;
    padding: 12px 10px;
    border-radius: 30px;
}
.cont_left .i_menup:hover{
	background: #f7f7f7;
}
.cont_left .i_menup:hover span{
	background:#555; 
}
.cont_left .i_menup:active{
	background: #f0f0f0;
}
.cont_left .i_menup:active span{
	background: #3584FA;
}
.cont_left .i_menup span{
	height: 1px;
	width:100%;
	background: #a0a0a0;
	margin-bottom: 4px;
	display: block;
}
.cont_left .i_menup span:last-child{
	margin-bottom: 0px;
}	
.cont_left .logo{
	display: inline-block;
}
.cont_left .logo img{
	height: 34px;
	float: left;
	margin-top: 2px;
}
.cont_left .logo h1{
	float: right;
	font-size: 20px;
	font-weight: 800;
	margin: 10px 0px 0px 5px;
	letter-spacing: 0.5px ;
	display:none;
}
.cont_right{
	float:right;
}
.cont_right .user_option a{
	width:40px;
	height:40px;
	border-radius:50%;
	border:4px solid transparent;
	display:block;
	overflow:hidden;
}
.cont_right .user_option a:hover{
	border:4px solid rgba(0,0,0,0.1);
}
.cont_right .user_option a img{
	width:100%;
}
.cont_right .user_option a img:hover{

}
.page{
	display:flex;
	position: relative;
}

.page .menu{
    max-width: 200px;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 5; 
}
.page .menu ul{
	padding-top:30px;
}
.page .menu ul li a{
	padding:6px 20px 6px 15px;
	text-decoration:none;
	color:#202124;
	display:block;
	border-radius:0px 30px 30px 0px;
	font-size:14px;
	font-weight:500;
	display: flex;
}
.page .menu ul li a:hover{
	background:#f1f3f4;
}
.page .menu ul li a:focus {
	color: #1967DA;
	background:#E8F0FE;
}
.page .menu ul li a i{
	font-size:31px;
	margin-right:15px;
}
.page .menu ul li a span{
	line-height: 2.5;
}
.page .cont-wrapper{
	width: 100%;
}
.page .cont-wrapper .content{
	width: 100%;
}
.gestor_alumnos .cgc_wrapper{
	padding: 20px;
}
.gestor_alumnos .gl_title{
	text-align: center;
}
.gestor_alumnos .gl_title h1{
    font-weight: 600;
    font-size: 21px;
    color: #333;
}
.gestor_alumnos .cont_forms{
	margin-top: 11px;
}
.gestor_alumnos .ga_left{
	max-width: 300px;
	width: 100%;
	margin: 0px auto;
}
.gestor_alumnos .ga_left .ga_search{
	position: relative;
}
.gestor_alumnos .ga_left .ga_search input.search{
	width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    min-width: 200px;
    position: relative;
}
.gestor_alumnos .ga_left .ga_search i{
	position: absolute;
    top: 18px;
    left: 17px;
    z-index: 4;
    color: #777;
}
.gestor_alumnos .ga_left .filter{
	margin-top: 10px;
}
.gestor_alumnos .ga_left input,
.gestor_alumnos .ga_left select{
	outline: none;
	border: none;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
.gestor_alumnos .ga_left input{
	padding: 17px 23px 17px 45px;
    border-radius: 8px;
}
.gestor_alumnos .ga_left select{
	padding: 8px 10px;
	text-align: center;
}
.gestor_alumnos .ga_right{
	margin-top: 25px;
	text-align: center;
}
.gestor_alumnos .ga_right .btn{
	border-radius: 5px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
    margin: 0px 6px;
}
.gestor_alumnos .ga_right .btn:hover{
}
.gestor_alumnos .ga_right .btn.btn-add{
	background: #3584FA;
	color: #fff;
}
.gestor_alumnos .ga_right .btn.btn-add:hover{
	background: #256bd4;
}
.gestor_alumnos .ga_right .btn.btn-imp{
	background: #EFEFEF;
	color: #555;
}
.gestor_alumnos .ga_right .btn.btn-imp:hover{
	background: #E1E1E1;
}
.gestor_alumnos .ga_right .separator{
	border: none;
    border-bottom: 1px solid #EFEFEF;
    max-width:300px;
    margin: 40px auto 40px;
}
.gestor_alumnos .ga_left .cgc_footer{
	margin-top: 10px;
}
.gestor_alumnos .ga_left .cgc_footer button{
	padding: 10px 20px;
	border-radius:8px;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	border:none;
	background: #3584FA;
	color: #fff;
	font-weight: 500;
	position: relative;
}
.gestor_alumnos .ga_left .cgc_footer button:hover{
	background: #307ce3;
	color: #fff;
	transition: all 0.2s ease-in;
}
.gestor_alumnos .cont_forms .ga_left .cgc_footer a.cfilter{
	color: #9e9e9e;
	font-size: 14px;
	text-decoration: none;
    margin: 0px 16px;
    font-size: 15px;
    cursor: pointer;
}
.gestor_alumnos .cont_forms .ga_left .cgc_footer a.cfilter span:before{
	content: "Ocultar";
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer a.cfilter span:before{
	content: "Filtrar";
}
.gestor_alumnos .cont_forms .ga_left .cgc_footer a.cfilter:hover{
	text-decoration: underline;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left{
	display: flex;
	margin-top: 23px;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .filter{
	display: none;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer{
	margin-top: 0px;
	display: flex;
	margin-left: 12px;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer button{
	background: #fff;
	color: #3584FA;
	border: 1px solid #e0e0e0;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer button:hover{
	background: #307ce3;
	color: #fff;
	transition: all 0.2s ease-in;
}
.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer a.cfilter{
    margin-top: 20px;
}
.result{

}
.result .table .tr:nth-child(1){
	border-radius:4px;
	padding:4px 0px;
}
.result .table .tr .td a.linkoption{
	text-decoration: none;
	display: inline-block;
	margin: 5px 5px 0px;
}
.result .table .tr .td a i{
	font-size:18px;
	
	color:#777;
	display:;
}
.result .table .tr .td a:hover i{
	color:#555;
}
.result .table .tr{
	border-top:1px solid #e5e5e5;
}
.result .table .tr .td a.btn_add{
    border-radius: 5px;
    padding: 4px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 15px;
    cursor: pointer;
    opacity: 0.8;
    color: #2178ff;
    background: #f0f6ff;
    border: 1px solid #2178ff;
    text-decoration: none;
    display: inline-block;
}
.result .table .tr .td a.btn_add:hover{
	background:#2178ff;
	color:#fff;
}
.result .table .tr:hover .td a i{
	display:inline-block;
}
.result .table .tr .td span{
	line-height:2;
}

.result .table{
	max-width:500px;
	margin:40px auto 0px;
	text-align: center;
	font-size: 14px;
}
.result .table .th,
.result .table .tr{
	display: flex;
}
.result .table .th .td,
.result .table .tr .td{
	display:block;
	padding:3px 5px;
}
.result .table .th .td{
    padding: 10px 0px;
    color: #8e8e8e;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.result .table .th .td:nth-child(1),
.result .table .tr .td:nth-child(1){
	width:50%;
}
.result .table .th .td:nth-child(2),
.result .table .tr .td:nth-child(2){
	width:25%;
}
.result .table .th .td:nth-child(3),
.result .table .tr .td:nth-child(3){
	width:25%;
}
.result .table .th .td:nth-child(4),
.result .table .tr .td:nth-child(4){
	width:25%;
}
.result .linkalum{
	color: #3584FA;
	text-decoration:none;
}
.result .linkalum:hover{
	text-decoration:underline;
}
/*CREAR ALUMNO*/
.crear_alumno{

}
.crear_alumno .gl_title{
	text-align: center;
}
.crear_alumno .gl_title h1{
	font-weight: 600;
    font-size: 21px;
    color: #333;
}
.crear_alumno form{
	max-width: 500px;
	width: 	100%;
	margin: 30px auto 0px;
}
.crear_alumno form .group{
	display: flex;
}
.crear_alumno form .group div label{
    width: 100%;
    display: block;
    font-size: 12px;
    color: #333;
    font-weight: 300;
    margin-bottom: 4px;
}
.crear_alumno form .group div input,
.crear_alumno form .group div select{
	border-radius: 4px;
    padding: 8px 14px;
	border:1px solid #8e8e8e;
	font-size: 15px;
}
.crear_alumno form .group div select{
	background: #fff;
	border: 1px solid #8e8e8e;
	border-radius: 4px;
	padding: 8px 14px;	
	width: 97%;
}
.crear_alumno form .group div{
	width: 100%;
    padding:5px 10px;
    display: block;
}
.crear_alumno form .group #direccion{
	width: 99%;
}
.crear_alumno .separador{
	text-align: center;
	margin-top: 22px;
	margin-bottom: 24px;
}
.crear_alumno .separador span{
    background: #fff;
    display: inline-block;
    margin-bottom: 3px;
    padding: 0px 10px;
    font-size: 12px;
    color: #999;
}
.crear_alumno .separador2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
.crear_alumno .separador2 a{
    background: #fff;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid;
}
.crear_alumno .separador2 a:hover{
	color: #2479ff;
}
.crear_alumno .separador2 hr,
.crear_alumno .separador hr{
	margin-top: -10px;
	border: none;
    border-bottom: 1px solid #ddd;
}
.crear_alumno .separador2 hr{
	display: none;
}
.crear_alumno .ca-footer{
	text-align: center;
	margin-top: 20px;
}
.crear_alumno .ca-footer a.btn{
    border-radius: 5px;
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 15px;
    min-width: 133px;
    cursor: pointer;
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
}
.crear_alumno .ca-footer a.btn:hover{
	opacity: 1;
}
.crear_alumno .ca-footer a.btnok{
    color: #fff;
    background: #2479ff;
}
.crear_alumno .ca-footer a.btnca{
    color: #2178ff;
    background: #f0f6ff;
}
/*MODAL*/	
.modal-window {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	}
.modal-window:target {
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	      transform: translate(-50%, -50%);
	padding: 2em;
	background: #ffffff;
	color: #333333;
	box-shadow: 
		0 9px 46px 8px rgba(0, 0, 0, 0.14), 
		0 11px 15px -7px rgba(0, 0, 0, 0.12), 
		0 24px 38px 3px rgba(0, 0, 0, 0.2);
}
.modal-window h1{
	font-size: 32px;
}
.modal-window .vbody{
	font-size: 14px;
    color: rgba(0,0,0, 0.54);
    margin: 20px 0px;
    line-height: 1.5;
}
.modal-window{

}
.vfooter a.btn{
    border-radius: 5px;
    padding: 12px 24px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 15px;
    min-width: 133px;
    cursor: pointer;
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
    text-align:center;
}
.vfooter a.btn:hover{
	opacity: 1;
}
.vfooter a.btnok{
    color: #fff;
    background: #2479ff;
}
.vfooter a.btnca{
    color: #2178ff;
    background: #f0f6ff;
}
/* /END MODAL*/
@media only screen and (max-width: 1024px){
	.page .menu{
		display: none;
	}
	.cont_left .i_menup{
		display: inline-block;
		transition: display 0.9s ;
	}
	.header {
	    padding: 4px 10px;
	    display: ;
	}
	.page .menu ul{
	    max-width: 230px;
	    background: #fff;
	    height: 100%;
	}
	.page .menu .bgmenu{
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    background: rgba(0,0,0,0.17);
	    content: "";
	    top: 0px;
	    margin-left: 230px;
	}
	.page .menu {
	    max-width: 100%;
	    width: 100%;
	    position: absolute;
	    height: 100%;
	}
}
@media only screen and (max-width: 500px){
	.crear_alumno form .group {
	    display: inherit;
	}
	.crear_alumno form .group div input, 
	.crear_alumno form .group div select {
	    width: 100%;
	}
	.gestor_alumnos .ga_right .btn.btn-add {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.gestor_alumnos .ga_right .btn.btn-imp {
	    width: 100%;
	}
	.gestor_alumnos .cont_forms.cgc_hidden .ga_left {
	   display: inherit;
	   max-width: 100%;
	}
	.gestor_alumnos .ga_right .btn {
	   margin: 0px 0px;
	}
	.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer {
		margin-left: 0px;
	}
	.gestor_alumnos .cont_forms.cgc_hidden .ga_left .cgc_footer button {
	    margin-top: 8px;
	}
}