/*CONFIG GENERAL*/
.wrapper{
	max-width: 1000px;
	width: 100%;
	margin: 0px auto;
}
/* END CONFIG GENERAL*/
body{
  background: #fff;
  font-family:"Roboto";
}
* {
    box-sizing: border-box;
    margin:0px;
}
ul{
	list-style: none;
	list-style-type: none;
	padding: 0px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
button{
  background: #fff;
  font-family:"Roboto";
}
@font-face {
  font-family: 'hal';
  src:  url('../fonts/hal.eot');
  src:  url('../fonts/hal.eot') format('embedded-opentype'),
    url('../fonts/hal.ttf') format('truetype'),
    url('../fonts/hal.woff') format('woff'),
    url('../fonts/hal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e900";
}
.icon-arrowright:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-section:before {
  content: "\e904";
}
.icon-ig:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-time:before {
  content: "\e908";
}
.icon-tw:before {
  content: "\e909";
}
.icon-yt:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e90b";
}
.icon-fb2:before {
  content: "\e90c";
}
.icon-hear2:before {
  content: "\e90d";
}
.icon-noticias:before {
  content: "\e90e";
}
.icon-student:before {
  content: "\e90f";
}
.icon-teacher:before {
  content: "\e910";
}
.icon-ajustes:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-login:before {
  content: "\e913";
}
.icon-logout:before {
  content: "\e914";
}
.icon-checkbox-checked:before {
  content: "\e915";
}
.icon-checkbox-unchecked:before {
  content: "\e916";
}
.icon-radio-checked:before {
  content: "\e917";
}
.icon-radio-unchecked:before {
  content: "\e918";
}
.icon-fecha:before {
  content: "\e919";
}
.icon-address:before {
  content: "\e91a";
}
.icon-cta:before {
  content: "\e91b";
}
.icon-hour:before {
  content: "\e91c";
}
.icon-cursos:before {
  content: "\e91d";
}
.icon-rango:before {
  content: "\e91e";
}
.icon-check_alt:before {
  content: "\e91f";
}
.icon-horarios:before {
  content: "\e920";
}
.icon-view:before {
  content: "\e922";
}