<header class="cont1">
  <div class="wrapper">
      <div class="hbar">
          <div class="logo"><img src="/assets/img/logotype.png" alt=""></div>
          <div class="bar_progress">
          </div>
          <div style="clear: both;"></div>
      </div>
  </div>
</header>