<header class="cont1">
    <div class="wrapper">
        <div class="hbar">
            <div class="logo"><img src="/assets/img/logotype.png" alt=""></div>
            <div class="bar_progress">
                <ul class="progress-indicator">
                    <li [ngClass]="{'active':urlflujo == 1,'completed':currentflujo > 1}" >
                        <a href="">
                            <span class="bubble"></span>
                            <span class="bptext">Generales.</span>
                        </a>
                    </li>
                    <li [ngClass]="{'active':urlflujo == 2,'completed':currentflujo > 2  && urlstep>2}">
                        <a href="">
                            <span class="bubble"></span>
                            <span class="bptext">Secciones.</span>
                        </a>
                    </li>
                    <li [ngClass]="{'active':urlflujo == 3,'completed':currentflujo > 3  && urlstep>2}">
                        <a href="">
                            <span class="bubble"></span>
                            <span class="bptext">Cursos.</span>
                        </a>
                    </li>
                    <li [ngClass]="{'active':urlflujo == 4,'completed':laststep > 7  && urlstep>2}">
                        <a href="">
                            <span class="bubble"></span>
                            <span class="bptext">Evaluaciones</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</header>