<div class="content">
  <header class="header">
    <div class="cont_left">
      <a class="i_menup"  >
        <span></span>
        <span></span>
        <span></span>
      </a>
      <div class="logo">
        <a href="" title="hal"><img src="img/logotype.png" alt="" /></a>
        <h1>hal.pe</h1>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="cont_right">
      <div class="user_option">
        <a href="">
          <img src="/assets/img/user-default.png" alt="">
        </a>
      </div>
    </div>
    <div style="clear: both"></div>
  </header><!-- /header -->
  
  <div class="page">
    <div class="menu" id="menu">
      <ul>
        <li>
          <a href="">
            <i class="icon-student"></i>
            <span>Alumnos</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-teacher"></i>
            <span>Profesores</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-horarios"></i>
            <span>Horarios</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-section"></i>
            <span>Secciones</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-cursos"></i>
            <span>Cursos</span>
          </a> 
        </li>
        <li>
          <a href="#">
            <i class="icon-ajustes"></i>
            <span>Ajustes</span>
          </a> 
        </li>
      </ul>
      <div class="bgmenu"></div>
    </div>
    <div class="cont-wrapper">
      <div class="content">
        <!--BUSCAR ALUMNO-->
        <div class="gestor_alumnos" style="display: ;">
          <div class="cgc_wrapper">
            <div class="gl_title">
              <h1>Gestor de Alumnos</h1>	
            </div>
            <div class="cont_forms cgc_hidden">
              <div class="ga_right">
                <a class="btn btn-add" href="" id="next2">Registrar Alumno</a>
                <a class="btn btn-imp" href="">Importar Registro</a>
                <hr class="separator" />
              </div>
              <div class="ga_left">
                <div class="ga_search"><i class="icon-search"></i><input class="search" type="text" placeholder="Buscar por DNI"/></div>
                <div class="filter">
                  <select name="" id="">
                    <option>Nivel</option>
                    <option>Primaria</option>
                    <option>Secundaría</option>
                  </select>
                  <select name="" id="">
                    <option>Grado</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <select name="" id="">
                    <option>Sección</option>
                    <option>A</option>
                    <option>B</option>
                  </select>
                </div>
                <div class="cgc_footer">
                  <button type="submit">Buscar</button>
                  <a class="cfilter"><span></span></a>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
            <div class="result">
              <!--
              <div class="table">
                <div class="th">
                  <div class="td">Nombre y Apellidos</div>
                  <div class="td">DNI</div>
                  <div class="td">Año y Sección</div>
                  <div class="td">Opciones</div>
                </div>
                <div class="tr">
                  <div class="td"> 
                    <a href="" class="linkalum"><span>Rider Saire Torres</span></a></div>
                  <div class="td"><span>458965877</span></div>
                  <div class="td"><span>3 B</span></div>
                  <div class="td">
                    <a href="" class="linkoption" title="Ver"><i class="icon-view"></i></a> 
                    <a href="" class="linkoption" title="Editar"><i class="icon-edit"></i></a> 
                  </div>
                </div>
                <div class="tr">
                  <div class="td"> 
                    <a href="" class="linkalum"><span>Sara Melendez Valdez</span></a></div>
                    <div class="td"><span>84759655</span></div>
                  <div class="td"><span>5 A</span></div>
                  <div class="td">
                    <a href="" class="linkoption" title="Ver"><i class="icon-view"></i></a> 
                    <a href="" class="linkoption" title="Editar"><i class="icon-edit"></i></a> 
                  </div>
                </div>
              </div>-->
            </div>
          </div>						
        </div>
        <!--REGISTRAR ALUMNO-->
        <div class="crear_alumno" style="display:none ">
          <div class="cgc_wrapper">
            <div class="gl_title">
              <h1>Registrar Alumno</h1>	
            </div>
            <form action="">
              <div class="group">
                <div>
                  <label for="nombres">Nombres</label>
                  <input type="text" placeholder="" id="nombres" />
                </div>
                <div>
                  <label for="apellidos">Apellidos</label>
                  <input type="text" placeholder="" id="apellidos" />
                </div>
              </div>
              <div class="group">
                <div>
                  <label for="dni">Número de DNI</label>
                  <input type="text" placeholder="" id="dni" />
                </div>
                <div>
                  <label for="fecha">Fecha de nacimiento</label>
                  <input type="text" id="fecha" placeholder="">
                </div>
                
              </div>
              <div class="group">
                <div>
                  <label for="direccion">Dirección</label>
                  <input type="text" id="direccion" placeholder="">
                </div>
              </div>
              <div class="group">
                <div>
                  <label for="level">Nivel</label>
                  <select name="" id="level">
                    <option value="">Primaria</option>
                    <option value="">Secundaria</option>
                  </select>
                </div>
                <div>
                  <label for="yearstudy">Año de estudios</label>
                  <select name="" id="yearstudy">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                  </select>
                </div>
                <div>
                  <label for="sex">Sexo</label>
                  <select name="" id="sex">
                    <option value="">Masculino</option>
                    <option value="">Femenino</option>
                  </select>
                </div>
              </div>
              <div class="separador">
                <span>Datos del apoderado </span>
                <hr />
              </div>
              <div class="group">
                <div>
                  <label for="apo_nombres">Nombres</label>
                  <input type="text" placeholder="" id="apo_nombres" />
                </div>
                <div>
                  <label for="apo_apell">Apellidos</label>
                  <input type="text" placeholder="" id="apo_apell" />
                </div>
              </div>
              <div class="group">
                <div>
                  <label for="apo_dni">Número de DNI</label>
                  <input type="text" placeholder="" id="apo_dni" />
                </div>
                <div>
                  <label for="apo_cel">Número de celular</label>
                  <input type="text" id="apo_cel" placeholder="">
                </div>
              </div>
              <div class="separador2">
                <a href="">Agregar otro apoderado </a>
                <hr />
              </div>
              <div class="ca-footer">
                <a class="btn btnok"  href="#open-modal">Guardar</a>
                <a class="btn btnca" href="">Cancelar</a>
              </div>

                <div id="open-modal" class="modal-window">
                  <div>
                    <h1>¡Ultimo Paso!</h1>
                    <div class="vbody">
                      <p>¿Confirma que los datos son correctos y que se crearán las cuentas para los apoderados y alumnos registrados?</p>
                    </div>
                    <div class="vfooter">
                      <a class="btn btnok"  href="#open-modal">Confirmar</a>
                  <a class="btn btnca" href="">Volver</a>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>